@import "tailwindcss";

.component-top-right {
    top: 0px; 
    /* left: 30px; */
    z-index: 1000;
    display: flex;
    /* gap: 20px; */
    /* padding: 10px; */
    background: #db9393;
    /* width: 100%; */
    position: fixed;
}
.link-box{
    margin: 2rem;
}