#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  position:absolute;
  top: 30px; 
  left: 30px;
}

.component-top-right {
 /* 1. กำหนดให้ Element หลุดจาก Flow ปกติ และตรึงไว้กับหน้าจอ */
    position: fixed; 
    /* 2. กำหนดระยะห่างจากขอบด้านบน */
    top: 30px; 
    /* 3. กำหนดระยะห่างจากขอบด้านขวา */
    right: 30px;
    /* (ทางเลือก) เพื่อให้แน่ใจว่า Component อยู่บน Element อื่นๆ */
    z-index: 1000;

}
